body {
    background-color: #99bbff;
    margin:auto;
}

/*It will hold 3 blocks. pictures and my interests*/
#main {


}

#dislikes {
    width:40%;
    margin:right;
}


#likes {
    width:40%;
    margin: left;
}


